
* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
    background-color: #1e2022;
    color: #FFFFFF;
}



html, body { 
    height: 100%;
    margin: 0;
    padding: 0;
}


/* main unmovable header */

.header { 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    border-bottom: 2px solid grey;
    padding: 20px;
}

/* header section */

.starter-form { 
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid grey;
    align-items: center;
}

.starter-heading { 
    font-size: xx-large;
    font-weight: bold;
}


.starter-form label { 
    font-weight: bold;
    font-size: medium;
}

.starter-form input { 
    border-style: double;
    border-radius: 8px;
    height: 24px;
    width: 200px;
    font-size: 100%;
    align-self: center;
    
}

.starter-form > div > div { 
    margin: 10px;
}

.starter-form > button { 
    border-style: none;
    border: solid grey;
    border-radius: 8px;
    height: 24px;
    width: 200px;
    font-size: 100%;
}

.starter-form > button:hover { 
    background-color: #FFFFFF;
    color: #1e2022;
}

/* game section */

.game-section { 
    display: none;
}

.game-section-main { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr 1fr 1fr;
    height: 700px;
}

.player-name-two-display { 
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    align-self: center;
    justify-self: center;
    font-weight: bold;
    font-size: xx-large;
}


.player-name-one-display { 
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: center;
    justify-self: center;
    font-weight: bold;
    font-size: xx-large;
}

.player-turn-display {  
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: center;
    font-weight: bold;
    font-size: xx-large;
}

.restart-button-div { 
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    justify-self: center;
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.restart-btn-game-board { 
    width: 132px;
    height: 24px;
    border-radius: 8px;
    border-style: none;
    border: 2px solid white;
    font-size: 100%;
    background-color: rgba(255, 0, 13, 0.907);
}

.restart-btn-game-board:hover { 
    background-color: maroon;
    color: white;
}


.game-board { 
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    width: 400px;
    height: 400px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 2px solid rgb(200, 200, 200);
    align-self: center;
    justify-self: center;
}



.game-board div { 
    border: 2px solid rgb(200, 200, 200);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}


/* dialog section */


dialog[open] { 
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid grey;
    padding: 20px;
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

dialog[open] > div { 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
    border-radius: 10px;
}

dialog::backdrop {
    background: grey;
    opacity: 0.3;
}

/* .dialog-buttons { 
    border: solid red;
} */


.dialog-playagain-button { 
    width: 100px;
    height: 24px;
    border: 2px solid grey;
    border-radius: 4px;
    margin: 0px 20px;
}

.dialog-restart-button { 
    width: 100px;
    height: 24px;
    border: 2px solid grey;
    border-radius: 4px;
}

.dialog-restart-button:hover { 
    background-color: #FFFFFF;
    color: #1e2022;

}


.dialog-playagain-button:hover { 
    background-color: #FFFFFF;
    color: #1e2022;

}
